@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,200;0,9..40,400;0,9..40,600;1,9..40,100&display=swap');

body{
  background: linear-gradient(to right, rgba(0,0,0,0.9), rgba(0,0,0,1));
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: DM Sans,sans-serif;
  
}

button {
  font-family: inherit;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

.navlist{
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 0em;
  margin-block-start: 0em;
  padding: 0;
}

.left-side{
  display: flex;
  align-items: center;
}

.list-item{
  padding: 1.5rem;
  text-align: center;
}


.btn{
  background-color: #34d399;
  border: none;
  color: white;
  padding: .75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 600;
  font-size: .875rem;
}


/* hero section starts here */

.hero{
  max-width: 72rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-items: center;
  padding-top: 5rem;
}

.title{
color: #85ebc2;
font-size: 42px;
font-weight: 600;
font-family: DM Sans;
}

p{
  color: white;
  text-align: center;
}

.lyra-triangle{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 4px;
}
.arbi-op{
  display: flex;
  gap: 2rem;
  padding: 4px;
  margin: 5px;
}
.mid-text{
  margin-top: 2rem;
  color:#85ebc2;
  font-weight: 400;
}

.opacity-50{
  opacity: 0.5;
}

.hero-image {
  margin-top: 4rem;
  max-width: 72rem;
}

.heroimage{
  border-radius: .375rem;
  border: 6px solid black;
  max-width: inherit;
  height: auto;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000,0 0 #0000, 0 25px 50px -12px rgba(52,211,153,.05);
}

.hero-box-txt{
  margin-top: 10px;
  background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(255,255,255,0.07));
  height: auto;
  width:64rem;
  margin-top: 9rem;
  border: 0px solid black;
  border-radius: 20px;
  padding: 2.5rem;
  margin-bottom: 12rem ;
}
.main-heading{
  color: #42d49f;
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
}
.sub-heading{
  text-align: center;
  color: white;
  line-height: 1.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.main-box{
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3rem;
}
.box {
  padding: 2.5rem;
}

.heading{
  color: #42d49f;
  font-size: 1.25em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

.sub{
  line-height: 1.25rem;
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: .875rem;
}



/* footer starts here */
.icons{
  height: 20px;
  width: 3rem;
  color: white;
  opacity: .8;
 
}
.icons:hover{
  opacity: 0.5;
}
.footer{
  
 display: flex;
 justify-content: space-between;
 margin-bottom: 3rem;
}
.right-foot{
  margin-right: 5px;
}
.nav-item{
  padding: 5px;
}
.nav-item:hover{
  opacity: 0.5;
}